#carousel-projects {
    margin: 0 0;
}

#carousel-projects .carousel-item img {
    object-fit: cover;


}

#carousel-projects .carousel-item {
    height: 580px;

}

#carousel-projects .carousel-caption h5 {
    color: var(--gold-color);
}


@media screen and (max-width:768px) {

    #carousel-projects .carousel-item {
        height: 480px;
    }



}