@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

:root {
    --gold-color: #ebbc65;
    --gray-color: #abb2b2;
    --blue-color: #123c84;
    --dark-color: black;

    --primary-color: #7380ec;
    --danger-color: #ff7782;
    --light-color: #cecece8c;
    --info-dark-color: #7d8da1;
    --background-color: #f6f6f9;
}

body {
    font-family: 'Crimson Text', serif;

}

hr.horizontal-line {
    width: 60%;
    border-top-width: 0.1rem;
    margin: 2.5rem auto 2.5rem auto;
    color: #ccc
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
}


.vertical-line {
    position: relative;
    height: 50px;
    margin: 2.0rem auto 2.0rem auto;

}

.vertical-line span {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #ccc;
    left: 50%;


}

.hover-color-blue,
.hover-color-gold {
    transition: color 0.15s ease-in;
}

.hover-color-gold:hover {
    color: var(--gold-color);
    border-color: var(--gold-color);
}

.hover-color-blue:hover {
    color: var(--blue-color);
}

.logo-title {
    letter-spacing: .1rem;
    word-spacing: .2rem;
    font-weight: 900;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.logo-title .first {
    color: #123c84 !important;
}

.logo-title .second {
    color: var(--gold-color) !important;

}
